---
import Layout from "../layouts/Layout.astro";
import CheapNightbot from "../images/Cheap Nightbot.svg";
import { Image } from "astro:assets";
---

<Layout title="⚠️ WORK IN PROGRESS">
  <section class="flex
  flex-col
  items-center
  justify-center
  md:flex-row">
    <div>
      <p class="sm:text-2xl border-l-2 pl-1.5">Yoho, me</p>
      <h1 class="text-xl sm:text-4xl font-bold text-indigo-200">
        Cheap Nightbot ( ˶ˆᗜˆ˵ ) !
      </h1>
      <h2 class="sm:text-2xl">a boiled potato ~</h2>
    </div>
    <Image
      src={CheapNightbot}
      alt="Cheap Nightbot"
      width={432}
      height={432}
      class="pointer-events-none p-10 overflow-visible"
      loading="eager"
    />
  </section>
</Layout>
