---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../assets/projects.json";
---

<Layout title="Projects">
  <section
    class="mx-auto max-w-5xl md:px-4 py-10 grid gap-12 md:grid-cols-2 content-center xl:max-w-1/2 2xl:max-w-3/4 2xl:grid-cols-3"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </section>
</Layout>
