---
const name = "Cheap Nightbot";
const year = new Date().getFullYear();
---

<footer
  class="flex p-4 items-center justify-center gap-6 text-lg"
>
  <p>&copy;{year} {name}. All rights reserved.</p>
</footer>
