---
const name = "Cheap Nightbot";
const year = new Date().getFullYear();
---

<footer
  class="bg-gradient-to-b from-transparent to-neutral-700 px-6 pt-12 pb-6"
>
  <div
    class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between px-4 gap-2 text-sm"
  >
    <span>&copy; {year} {name}. All rights reserved.</span>
    <span>
      Built with <a
        href="https://astro.build/"
        class="text-indigo-400 hover:underline"
        target="_blank">Astro</a
      > & <a
        href="https://tailwindcss.com/"
        class="text-indigo-400 hover:underline"
        target="_blank">Tailwind CSS</a
      >
    </span>
  </div>
</footer>
