---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header
  class="sm:py-0 px-8 py-2 bg-linear-to-b from-neutral-800 to-transparent md:sticky md:top-0"
>
  <nav class="max-w-5xl mx-auto flex items-center justify-between px-6">
    <div class="flex items-center gap-2">
      <span class="text-xl font-bold text-indigo-300">⚠️ WORK IN PROGRESS</span>
    </div>
    <div class="flex items-center">
      <div class="sm:hidden z-999">
        <Hamburger />
      </div>
      <div class="hidden sm:flex transition-all duration-200">
        <Navigation />
      </div>
    </div>
  </nav>
  <div
    id="mobile-backdrop"
    class="sm:hidden fixed inset-0 bg-black/60 z-40 opacity-0 pointer-events-none transition-opacity duration-200"
  >
  </div>
  <div
    id="mobile-menu"
    class="sm:hidden fixed top-0 right-0 w-64 h-full bg-neutral-900 border-l border-neutral-800 z-50 translate-x-full transition-transform duration-200 pt-6"
  >
    <Navigation mobile={true} />
  </div>
</header>
