---

---

<nav class="flex p-4 items-center justify-center gap-6 text-lg">
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <a href="/blog">Blog</a>
  <a href="/about">About</a>
</nav>

<style>
  a {
    padding: calc(var(--spacing) * 2);
  }

  a:hover {
    background: var(--color-indigo-500);
  }
</style>
