---
const { title } = Astro.props;
---

<nav class="flex p-4 items-center justify-around gap-10 text-lg">
  <p class="font-bold text-indigo-300 text-2xl">{title}</p>
  <div class="flex p-4 items-center justify-center gap-6 text-lg">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
  </div>
</nav>

<style>
  a {
    padding: calc(var(--spacing) * 2);
  }

  a:hover {
    background: var(--color-indigo-500);
  }
</style>
