---
const { mobile = false, active } = Astro.props;
---

<div
  class={mobile
    ? "flex flex-col items-center gap-6 w-full pt-12"
    : "flex p-4 items-center justify-center gap-2 text-lg"}
>
  <a
    href="/"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : active === "home"
        ? "bg-indigo-600 w-24 text-center transition"
        : "w-24 text-center transition"}>Home</a
  >
  <a
    href="/projects"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : active === "projects"
        ? "bg-indigo-600 w-24 text-center transition"
        : "w-24 text-center transition"}>Projects</a
  >
  <a
    href="/blog"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : active === "blog"
        ? "bg-indigo-600 w-24 text-center transition"
        : "w-24 text-center transition"}>Blog</a
  >
  <a
    href="https://journal.cheapnightbot.me"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : "w-24 text-center transition"}>Journal</a
  >
</div>

<style>
  a {
    padding: calc(var(--spacing) * 2);
  }
  a:hover {
    background: var(--color-indigo-500);
  }
</style>
