---
const { mobile = false } = Astro.props;
---

<div
  class={mobile
    ? "flex flex-col items-center gap-6 w-full pt-12"
    : "flex p-4 items-center justify-center gap-2 text-lg"}
>
  <a
    href="/"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : "w-24 text-center"}>Home</a
  >
  <a
    href="/projects"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : "w-24 text-center"}>Projects</a
  >
  <a
    href="/blog"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : "w-24 text-center"}>Blog</a
  >
  <a
    href="/about"
    class={mobile
      ? "block w-full text-center py-3 rounded text-lg hover:bg-indigo-900 transition"
      : "w-24 text-center"}>About</a
  >
</div>

<style>
  a {
    padding: calc(var(--spacing) * 2);
  }
  a:hover {
    background: var(--color-indigo-500);
  }
</style>
