---
import { Image } from "astro:assets";
import background from "../assets/bg.svg";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        filter: blur(200px);
        animation: fadeIn 0.8s ease-in;
        pointer-events: none;
        user-select: none;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body
    class="flex flex-col bg-neutral-800 text-indigo-100 min-h-dvh min-w-full"
  >
    <Image
      id="background"
      src={background}
      alt=""
      fetchpriority="high"
      class="transition-opacity"
      width="100"
      height="100"
    />
    <Header active={title.toLowerCase()} />
    <main class="flex-1/2 px-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
